.home_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_img {
    width: 60vw;
    margin-bottom: 20px;
}

.home_text {
    text-align: center;
    font-size: 1.5rem;
}