.header_wrapper {
    position: absolute;
    top: 10px;
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #222222;
}

.nav_box {
    position: absolute;
    width: 400px;
    right: 80px;
}

.nav_box ul {
    display: flex;
    justify-content: space-between;
}

a:link, a:visited {
    text-decoration: none;
    color: #222222;
}

a:hover, a:active {
    text-decoration: none;
    color: #008AC9;
}